<!DOCTYPE html>
<html>
<head>
  <title>FortuneTeller</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">S14 FT</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/lucky_numbers">Today's Lucky Numbers</a></li>
          <li><a href="/zodiacs/aries">Aries</a></li>
          <li><a href="/zodiacs/taurus">Taurus</a></li>
          <li><a href="/zodiacs/gemini">Gemini</a></li>
          <li><a href="/zodiacs/cancer">Cancer</a></li>
          <li><a href="/zodiacs/leo">Leo</a></li>
          <li><a href="/zodiacs/virgo">Virgo</a></li>
          <li><a href="/zodiacs/libra">Libra</a></li>
          <li><a href="/zodiacs/scorpio">Scorpio</a></li>
          <li><a href="/zodiacs/sagittarius">Sagittarius</a></li>
          <li><a href="/zodiacs/capricorn">Capricorn</a></li>
          <li><a href="/zodiacs/aquarius">Aquarius</a></li>
          <li><a href="/zodiacs/pisces">Pisces</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
