<!DOCTYPE html>
<html>
<head>
  <title>FortuneTeller</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <li><a href="/lucky_numbers">Today's Lucky Numbers</a></li>
    <li><a href="/zodiacs/aries">Aries</a></li>
    <li><a href="/zodiacs/taurus">Taurus</a></li>
    <li><a href="/zodiacs/gemini">Gemini</a></li>
    <li><a href="/zodiacs/cancer">Cancer</a></li>
    <li><a href="/zodiacs/leo">Leo</a></li>
    <li><a href="/zodiacs/virgo">Virgo</a></li>
    <li><a href="/zodiacs/libra">Libra</a></li>
    <li><a href="/zodiacs/scorpio">Scorpio</a></li>
    <li><a href="/zodiacs/sagittarius">Sagittarius</a></li>
    <li><a href="/zodiacs/capricorn">Capricorn</a></li>
    <li><a href="/zodiacs/aquarius">Aquarius</a></li>
    <li><a href="/zodiacs/pisces">Pisces</a></li>
  </ul>

  <%= yield %>
</body>
</html>
